@use "variables" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #060010;
    height: 100dvh;
    width: 100%;
    overflow-x: hidden;
    font-family: $font-family-primary;
}
